:root {
    --main-color: rgb(255, 163, 43);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: cairo-font;
    src: url(../fonts//cairo-font//CairoPlay-VariableFont_slnt\,wght.ttf);
}


body {
    font-family: cairo-font;
}

.container {
    margin: auto;
    width: 1300px;
}

.search-box {
    width: 300px;
    background-color: white;
    position: fixed;
    left: -300px;
    top: 0px;
    z-index: 1000;
    min-height: 100vh;
    transition: 0.5s;
}

.search-box .setting-option {
    background-color: #cdcbcb;
    text-align: center;
    margin: 27px 28px;
    padding: 1px;
}

.search-box .setting-option .color-list {
    list-style: none;
    display: flex;
}

.search-box .setting-option .color-list li {
    border-radius: 50%;
    border: 3px solid transparent;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.2;
}

.search-box .setting-option .color-list li.active {
    opacity: 1;
    border: 3px solid white;
}

.search-box .setting-option .color-list li:nth-child(1) {
    background-color: rgb(255, 163, 43);
}

.search-box .setting-option .color-list li:nth-child(2) {
    background-color: blue;
}

.search-box .setting-option .color-list li:nth-child(3) {
    background-color: blueviolet;
}

.search-box .setting-option .color-list li:nth-child(4) {
    background-color: chartreuse;
}

.search-box .setting-option.background {
    padding: 29px;
}

.search-box .setting-option span {
    background-color: #4f8775;
    border-radius: 4px;
    padding: 1px 10px;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 8px #fff;
    opacity: 0.5;
}

.search-box .setting-option span.active {
    opacity: 1;
}



.search-box .setting-icon {
    padding: 15px;
    background-color: white;
    position: absolute;
    top: 100px;
    right: -45px;
}

.search-box.open-close {
    left: 0;
}



.langing-page {
    min-height: 100vh;
    background-image: url('../imgs/1.jpg');
    background-size: cover;
    position: relative;
}

.langing-page .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.header-area {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    position: relative;
    z-index: 2;
}


.logo {
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
}

.header-area .links {
    list-style: none;
    text-align: right;
}

.links li {
    display: inline-block;
    margin-right: 10px;
}

.links li a {
    text-decoration: none;
    color: white;
    transition: 1;
}

.links li a:hover,
.links li a.active {
    color: var(--main-color);
}

.introduction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
    font-size: 17px;
    line-height: 1.6;

}

.introduction-text h1 {
    font-size: 40px;
}

.introduction-text h1 span {
    color: var(--main-color);
}

.about-us {
    display: flex;
    padding: 50px 25px 50px 25px;
}

.about-us .info-box {
    flex: 1;
}

.about-us .info-box h1 {
    color: var(--main-color);
    margin: 0px 0px;
}

.about-us .info-box p {
    line-height: 2;
}

.about-us .about-image {
    flex: 1;
    text-align: center;
}

.about-us .about-image img {}


/* start skills */

.skills {
    background-color: #dbd7d7;
    padding: 50px 25px;
}

.skills h2 {
    text-align: center;
    color: var(--main-color);
}

.skills .skill-box {
    display: flex;
    background-color: white;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
}

.skills .skill-box .skill-name {
    margin: 0px 15px 0px 0px;
    line-height: 30px;
    width: 100px;
}

.skills .skill-box .progress-bar {
    background-color: #dbd7d7;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    text-align: start;
    overflow: hidden;
}


.skills .skill-box .progress-bar span {
    width: 0px;
    height: 30px;
    background-color: var(--main-color);
    display: inline-block;
    transition: 0.9s;
}

/* end skills */


/* start images gallery */
.images-gallery {
    margin-top: 46px;
    text-align: center;
}

.images-gallery .gallery-title {
    text-align: center;
    color: var(--main-color);
    padding: 26px;

}


.images-gallery .images-box {

}

.images-gallery .images-box img {
    width: 300px;
    border: 1px solid rgb(140, 138, 138);
    background-color: gray;
    padding: 5px;
    margin-left: 7px;
}

/* end images gallery */