:root {
    --main-color: rgb(255, 163, 43);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: cairo-font;
    src: url(../fonts//cairo-font/Cairo-Regular.ttf);
    font-weight: light;
}


@font-face {
    font-family: cairo-font;
    src: url(../fonts/cairo-font/static/CairoPlay-ExtraBold.ttf);
    font-weight: bold;
}

body {
    font-family: cairo-font;
    font-weight: light;
}

.container {
    margin: auto;
    width: 1300px;
}

.search-box {
    width: 300px;
    background-color: white;
    position: fixed;
    left: -300px;
    top: 0px;
    z-index: 1000;
    min-height: 100vh;
    transition: 0.5s;
}

.search-box .setting-option {
    background-color: #cdcbcb;
    text-align: center;
    margin: 27px 28px;
    padding: 1px;
}

.search-box .setting-option .color-list {
    list-style: none;
    display: flex;
}

.search-box .setting-option .color-list li {
    border-radius: 50%;
    border: 3px solid transparent;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.2;
}

.search-box .setting-option .color-list li.active {
    opacity: 1;
    border: 3px solid white;
}

.search-box .setting-option .color-list li:nth-child(1) {
    background-color: rgb(255, 163, 43);
}

.search-box .setting-option .color-list li:nth-child(2) {
    background-color: blue;
}

.search-box .setting-option .color-list li:nth-child(3) {
    background-color: blueviolet;
}

.search-box .setting-option .color-list li:nth-child(4) {
    background-color: chartreuse;
}

.search-box .setting-option.background {
    padding: 29px;
}

.search-box .setting-option span {
    background-color: #4f8775;
    border-radius: 4px;
    padding: 1px 10px;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 8px #fff;
    opacity: 0.5;
}

.search-box .setting-option span.active {
    opacity: 1;
}



.search-box .setting-icon {
    padding: 15px;
    background-color: white;
    position: absolute;
    top: 100px;
    right: -45px;
}

.search-box.open-close {
    left: 0;
}



.langing-page {
    min-height: 100vh;
    background-image: url('../imgs/1.jpg');
    background-size: cover;
    position: relative;
}

.langing-page .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.header-area {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    position: relative;
    z-index: 2;
}


.logo {
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
}

.header-area .links {
    list-style: none;
    text-align: right;
}

.links li {
    display: inline-block;
    margin-right: 10px;
}

.links li a {
    text-decoration: none;
    color: white;
    transition: 1;
}

.links li a:hover,
.links li a.active {
    color: var(--main-color);
}

.introduction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    color: white;
    font-size: 17px;
    line-height: 1.6;

}

.introduction-text h1 {
    font-size: 40px;
}

.introduction-text h1 span {
    color: var(--main-color);
}

.about-us {
    display: flex;
    padding: 50px 25px 50px 25px;
}

.about-us .info-box {
    flex: 1;
}

.about-us .info-box h1 {
    color: var(--main-color);
    margin: 0px 0px;
}

.about-us .info-box p {
    line-height: 2;
}

.about-us .about-image {
    flex: 1;
    text-align: center;
}

.about-us .about-image img {}


/* start skills */

.skills {
    background-color: #dbd7d7;
    padding: 50px 25px;
}

.skills h2 {
    text-align: center;
    color: var(--main-color);
}

.skills .skill-box {
    display: flex;
    background-color: white;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
}

.skills .skill-box .skill-name {
    margin: 0px 15px 0px 0px;
    line-height: 30px;
    width: 100px;
}

.skills .skill-box .progress-bar {
    background-color: #dbd7d7;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    text-align: start;
    overflow: hidden;
}


.skills .skill-box .progress-bar span {
    width: 0px;
    height: 30px;
    background-color: var(--main-color);
    display: inline-block;
    transition: 0.9s;
}

/* end skills */


/* start images gallery */
.images-gallery {
    margin-top: 46px;
    text-align: center;
}

.images-gallery .gallery-title {
    text-align: center;
    color: var(--main-color);
    padding: 26px;

}


.images-gallery .images-box {}

.images-gallery .images-box img {
    width: 300px;
    border: 1px solid rgb(140, 138, 138);
    background-color: gray;
    padding: 5px;
    margin-left: 7px;
}

/* end images gallery */


/*
overlay popup
*/


.overlay-popup {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
}

.img-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
}

.img-popup h1 {
    text-align: center;
}

.img-popup span {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: green;
    font-style: 'tahoma';
    font-size: 29px;
    font-weight: 700;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

/* timeline */
.timeline {
    background-color: #dbd7d7;
    margin-top: 50px;
    position: relative;
}

.timeline .timeline-content {
    position: relative;
    border: 1px solid #dbd7d7;
    padding: 0px 20px;
}

.timeline .timeline-content:before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
}

.timeline .timeline-content .year {
    color: white;
    text-align: center;
    font-weight: 400;
    z-index: 2;
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 5px;
    width: 70px;
    margin: 50px auto;
}

.timeline .timeline-content .content {
    position: relative;
    height: 369px;
}

.timeline .timeline-content .right-section,
.timeline .timeline-content .left-section {
    width: calc(50% - 30px);
    background-color: white;
    padding: 10px;
}

.timeline .timeline-content .content-header {
    color: var(--main-color);
    margin: 0px;
    font-size: 1.5rem;
    margin: 0px 0px 10px;
}

.timeline .timeline-content .content-paragraph {
    margin: 0px;
    line-height: 1.7;
}


.timeline .timeline-content .left-section {
    float: left;
}

.timeline .timeline-content .right-section {
    float: right;
}

.timeline .timeline-content .right-section:before {
    left: calc(50% - 9px);
    top: 230px;
}

.timeline .timeline-content .left-section:before {
    left: calc(50% - 9px);
    top: 89px;
}

.timeline .timeline-content .left-section:before {}


.timeline .timeline-content .right-section:before,
.timeline .timeline-content .left-section:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color: white;
    position: absolute;
}


.timeline .timeline-content .right-section .content-header {}

.timeline .timeline-content .right-section .content-paragraph {}

.timeline .timeline-content .left-section {}


.timeline .timeline-content .left-section .content-header {
    position: relative;
}

.timeline .timeline-content .left-section .content-header:before {
    content: '';
    border: 10px solid black;
    border-color: transparent transparent transparent white;
    position: absolute;
    right: -29px;
}


.timeline .timeline-content .left-section .content-paragraph {}

.clearfix {
    clear: both;
}

.timeline .timeline-content .right-section .content-header {
    position: relative;
}

.timeline .timeline-content .right-section .content-header::before {
    content: '';
    border: 10px solid transparent;
    border-color: transparent white transparent transparent;
    position: absolute;
    left: -29px;
}


/* features begin */

.features {
    padding-top: 50px;
}

.features h1 {
    text-align: center;
    color: var(--main-color);
    margin-bottom: 46px;
}

.features .feature-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    padding: 20px;
}


.features .feature-box img {
    width: 150px;
    border-radius: 40%;
    padding: 0;
    margin: 0;
}


.features .feature-box h4 {
    color: var(--main-color);
    position: relative;
}


.features .feature-box h4::after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    top: 29px;
    left: 50%;
    transform: translate(-50%, 0);
}


.features .feature-box p {
    width: 100%;
    margin: 0 auto;
    line-height: 1.7;
    color: rgb(150 132 132)
}

/* features end */


/* testimonials begin */

.testimonials {
    min-height: 600px;
    position: relative;
    padding-top: 50px;
}


.testimonials::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--main-color);
    height: 100%;
    width: 50%;
    z-index: 1;

}

.testimonials::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50%;
    background-color: gray;
    z-index: 1;
}

.testimonials h1 {
    position: relative;
    z-index: 2;
}

.testimonials .test-box{
    position: relative;
    z-index: 2;
    background-color: white;
    width: calc(97% / 3);
    padding: 10px;
    float: left;
}

.testimonials .test-box{
    margin-right: 1%;
    padding: 13px;
}

.testimonials .test-box > p {
    line-height: 1.7;
    font-style: italic;
    color: #777;
}

.testimonials .test-box .persona-info{

}

.testimonials .test-box .persona-info img{
    float: left;
    border-radius: 50%;
}

.testimonials .test-box .persona-info h3{
    padding-top: 11px;
    padding-left: 105px;
    margin-bottom: 5px;
}

.testimonials .test-box .persona-info p{
    padding-left: 105px;
    margin-top: 0px;
    color: 777;
}


/* testimonials end */