:root {
    --main-color: rgb(255, 163, 43);
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: cairo-font;
    src: url(../fonts//cairo-font/Cairo-Regular.ttf);
    font-weight: light;
}


@font-face {
    font-family: cairo-font;
    src: url(../fonts/cairo-font/static/CairoPlay-ExtraBold.ttf);
    font-weight: bold;
}

body {
    font-family: cairo-font;
    font-weight: light;
}

.container {
    margin: auto;
    max-width: 1300px;
}

.search-box {
    width: 300px;
    background-color: white;
    position: fixed;
    left: -300px;
    top: 0px;
    z-index: 1000;
    min-height: 100vh;
    transition: 0.5s;
}

.search-box .setting-option {
    background-color: #cdcbcb;
    text-align: center;
    margin: 27px 28px;
    padding: 1px;
}

.search-box .setting-option .color-list {
    list-style: none;
    display: flex;
}

.search-box .setting-option .color-list li {
    border-radius: 50%;
    border: 3px solid transparent;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.2;
}

.search-box .setting-option .color-list li.active {
    opacity: 1;
    border: 3px solid white;
}

.search-box .setting-option .color-list li:nth-child(1) {
    background-color: rgb(255, 163, 43);
}

.search-box .setting-option .color-list li:nth-child(2) {
    background-color: blue;
}

.search-box .setting-option .color-list li:nth-child(3) {
    background-color: blueviolet;
}

.search-box .setting-option .color-list li:nth-child(4) {
    background-color: chartreuse;
}

.search-box .setting-option.background {
    padding: 29px;
}

.search-box .setting-option span {
    background-color: #4f8775;
    border-radius: 4px;
    padding: 1px 10px;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 8px #fff;
    opacity: 0.5;
}

.search-box .setting-option span.active {
    opacity: 1;
}



.search-box .setting-icon {
    padding: 15px;
    background-color: white;
    position: absolute;
    top: 100px;
    right: -45px;
}

.search-box.open-close {
    left: 0;
}



.langing-page {
    min-height: 100vh;
    background-image: url('../imgs/1.jpg');
    background-size: cover;
    position: relative;
}

@media (max-width:500px) {
    .langing-page {
        min-height: 70vh;
    }
}

.langing-page .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    z-index: 1;
}

.header-area {
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
    position: relative;
    z-index: 2;
}


.logo {
    padding: 15px;
    font-size: 30px;
    font-weight: 700;
}

.header-area .menu-container {
    margin: auto 0px;
}

.header-area .menu-container .toggle-button {
    width: 40px;
    cursor: pointer;
    display: none;
}

.header-area .menu-container .toggle-button span {
    width: 100%;
    height: 4px;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}

.header-area .links {
    list-style: none;
    text-align: right;
    transition: .6s;
}

.links li {
    display: inline-block;
    margin-right: 10px;
}

.links li a {
    text-decoration: none;
    color: white;
    transition: 1;
}

.links li a:hover,
.links li a.active {
    color: var(--main-color);
}


@media (max-width:991px) {
    .header-area .menu-container .toggle-button {
        display: block;
    }

    .header-area .links {
        display: none;
        transition: .6s;
    }

    .header-area .links:before {
        content: '';
        border: 14px solid black;
        border-color: transparent transparent white;
        position: absolute;
        top: -33px;
        right: 14px;
    }


    .header-area .links.open {
        color: black;
        display: block;
        position: absolute;
        top: 67px;
        right: 1px;
        background-color: #7c6060;
        width: 300px;
        border-radius: 5px;
        padding: 10px;
        transition: .6s;

    }

    .links.open li {
        display: block;
        margin-bottom: 4px;
    }
}


.introduction-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
    font-size: 17px;
    line-height: 1.6;
    width: 80%;

}

@media (max-width:500px) {
    .introduction-text {
        font-size: 11px;
        font-style: italic;
        list-style: 1;
    }
}

.introduction-text h1 {
    font-size: 40px;
}

.introduction-text h1 span {
    color: var(--main-color);
}

.about-us {
    display: flex;
    padding: 50px 25px 50px 25px;
}

@media (max-width:500px) {
    .about-us {
        display: block;
    }

}


.about-us .info-box {
    flex: 1;
}

.about-us .info-box h1 {
    color: var(--main-color);
    margin: 0px 0px;
}

.about-us .info-box p {
    line-height: 2;
}

.about-us .about-image {
    flex: 1;
    text-align: center;
}

.about-us .about-image img {}


/* start skills */

.skills {
    background-color: #dbd7d7;
    padding: 50px 25px;
}

.skills h2 {
    text-align: center;
    color: var(--main-color);
}

.skills .skill-box {
    display: flex;
    background-color: white;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
}

@media (max-width:500px) {
    .skills .skill-box {
        display: block;
    }
}

.skills .skill-box .skill-name {
    margin: 0px 15px 0px 0px;
    line-height: 30px;
    width: 100px;
}

@media (max-width:500px) {
    .skills .skill-box .skill-name {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

.skills .skill-box .progress-bar {
    background-color: #dbd7d7;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    text-align: start;
    overflow: hidden;
}


.skills .skill-box .progress-bar span {
    width: 0px;
    height: 30px;
    background-color: var(--main-color);
    display: inline-block;
    transition: 0.9s;
}

@media (max-width:500px) {
    .skills .skill-box .progress-bar {
        height: 20px;

    }

    .skills .skill-box .progress-bar span {
        height: 20px;
    }

}

/* end skills */


/* start images gallery */
.images-gallery {
    margin-top: 46px;
    text-align: center;
}

.images-gallery .gallery-title {
    text-align: center;
    color: var(--main-color);
    padding: 26px;

}


.images-gallery .images-box {}

.images-gallery .images-box img {
    width: 300px;
    border: 1px solid rgb(140, 138, 138);
    background-color: gray;
    padding: 5px;
    margin-left: 7px;
}

/* end images gallery */


/*
overlay popup
*/


.overlay-popup {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
}

.img-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
}

.img-popup h1 {
    text-align: center;
}

.img-popup span {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: green;
    font-style: 'tahoma';
    font-size: 29px;
    font-weight: 700;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
}

/* timeline */
.timeline {
    background-color: #dbd7d7;
    margin-top: 50px;
    position: relative;
}

.timeline .timeline-content {
    position: relative;
    border: 1px solid #dbd7d7;
    padding: 0px 20px;
}

.timeline .timeline-content:before {
    content: '';
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
}

.timeline .timeline-content .year {
    color: white;
    text-align: center;
    font-weight: 400;
    z-index: 2;
    background-color: var(--main-color);
    padding: 5px;
    border-radius: 5px;
    width: 70px;
    margin: 50px auto;
}

.timeline .timeline-content .content {
    position: relative;
    min-height: 369px;
}

@media (max-width:777px) {
    .timeline .timeline-content .content {
        position: relative;
        min-height: 369px;
        display: flex;
        flex-direction: column;
        align-items: center
    }
}

.timeline .timeline-content .right-section,
.timeline .timeline-content .left-section {
    width: calc(50% - 30px);
    background-color: white;
    padding: 10px;
}

@media (max-width:777px) {

    .timeline .timeline-content .right-section,
    .timeline .timeline-content .left-section {
        float: none;
        width: 70%;
        margin-bottom: 27px;
    }

    .timeline .timeline-content .right-section:before,
    .timeline .timeline-content .left-section:before,
    .timeline .timeline-content .left-section .content-header:before,
    .timeline .timeline-content .right-section .content-header::before {
        display: none;
    }

    .timeline .timeline-content {
        text-align: center;
    }
}

.timeline .timeline-content .content-header {
    color: var(--main-color);
    margin: 0px;
    font-size: 1.5rem;
    margin: 0px 0px 10px;
}

.timeline .timeline-content .content-paragraph {
    margin: 0px;
    line-height: 1.7;
}


.timeline .timeline-content .left-section {
    float: left;
}

.timeline .timeline-content .right-section {
    float: right;
}

.timeline .timeline-content .right-section:before {
    left: calc(50% - 9px);
    top: 230px;
}

.timeline .timeline-content .left-section:before {
    left: calc(50% - 9px);
    top: 89px;
}

.timeline .timeline-content .left-section:before {}


.timeline .timeline-content .right-section:before,
.timeline .timeline-content .left-section:before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    background-color: white;
    position: absolute;
}


.timeline .timeline-content .right-section .content-header {}

.timeline .timeline-content .right-section .content-paragraph {}


.timeline .timeline-content .left-section .content-header {
    position: relative;
}

@media (max-width:777px) {

    .timeline .timeline-content .left-section .content-header,
    .timeline .timeline-content .right-section .content-header {
        text-align: center;
    }
}

.timeline .timeline-content .left-section .content-header:before {
    content: '';
    border: 10px solid black;
    border-color: transparent transparent transparent white;
    position: absolute;
    right: -29px;
}


.timeline .timeline-content .left-section .content-paragraph {}

.clearfix {
    clear: both;
}

.timeline .timeline-content .right-section .content-header {
    position: relative;
}

.timeline .timeline-content .right-section .content-header::before {
    content: '';
    border: 10px solid transparent;
    border-color: transparent white transparent transparent;
    position: absolute;
    left: -29px;
}


/* features begin */

.features {
    padding-top: 50px;
}

.features h1 {
    text-align: center;
    color: var(--main-color);
    margin-bottom: 46px;
}

.features .feature-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    padding: 20px;
}

@media (max-width:777px) {

    .features .feature-box {
        width: calc(100% / 2);
    }
}

@media (max-width:500px) {

    .features .feature-box {
        width: 100%;
    }
}

.features .feature-box img {
    width: 150px;
    border-radius: 40%;
    padding: 0;
    margin: 0;
}


.features .feature-box h4 {
    color: var(--main-color);
    position: relative;
}


.features .feature-box h4::after {
    content: '';
    width: 100px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    top: 29px;
    left: 50%;
    transform: translate(-50%, 0);
}


.features .feature-box p {
    width: 100%;
    margin: 0 auto;
    line-height: 1.7;
    color: rgb(150 132 132)
}

/* features end */


/* testimonials begin */

.testimonials {
    min-height: 600px;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}


.testimonials::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--main-color);
    height: 100%;
    width: 50%;
    z-index: 1;

}

.testimonials::after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50%;
    background-color: gray;
    z-index: 1;
}

.testimonials h1 {
    position: relative;
    z-index: 2;
}

.testimonials .test-box {
    position: relative;
    z-index: 2;
    background-color: white;
    width: calc(97% / 3);
    padding: 10px;
    float: left;
    margin-right: 1%;
    padding: 13px;
}

@media (max-width:620px) {
    .testimonials .test-box {
        width: 80%;
        float: none;
        margin: 10px auto;
    }
}


.testimonials .test-box>p {
    line-height: 1.7;
    font-style: italic;
    color: #777;
}

.testimonials .test-box .persona-info {}

@media (max-width:900px) {
    .testimonials .test-box .persona-info {
        text-align: center;
    }
}


.testimonials .test-box .persona-info img {
    float: left;
    border-radius: 50%;
}

@media (max-width:900px) {
    .testimonials .test-box .persona-info img {
        float: none;
    }
}

.testimonials .test-box .persona-info h3 {
    padding-top: 11px;
    padding-left: 105px;
    margin-bottom: 5px;
}

@media (max-width:900px) {
    .testimonials .test-box .persona-info h3 {
        padding-top: 0px;
        padding-left: 0px;
        margin-bottom: 0px;
    }
}

.testimonials .test-box .persona-info p {
    padding-left: 105px;
    margin-top: 0px;
    color: 777;
}

@media (max-width:900px) {
    .testimonials .test-box .persona-info p {
        padding-left: 0px;
        margin-top: 11px;
        color: 777;
    }
}

/* testimonials end */


/* begin bullet */
.bullet {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    z-index: 1000;
}

.bullet .bullet-box {
    position: relative;
    border: 3px solid red;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: 16px;
    cursor: pointer;
}

.bullet .bullet-box .toolTip {
    position: absolute;
    top: -7px;
    left: -119px;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    width: 90px;
    display: none;
    pointer-events: none;
    border: 1px solid;
    border-color: transparent white transparent transparent;
}

.bullet .bullet-box:hover .toolTip {
    display: block;
}

.bullet .bullet-box .toolTip::before {
    content: '';
    border: 10px solid transparent;
    border-color: transparent transparent transparent red;
    border-style: solid;
    position: absolute;
    right: -21px;
    top: 5px;
}

/* end bullet */



/* start contact us  */

.contact {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 600px;
    background-image: url(../imgs/map.avif);
    background-size: cover;
}

.contact:before {
    content: '';
    background-color: rgba(255, 252, 252, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.contact h1 {
    position: relative;
    z-index: 2;
    text-align: center;
}

.contact .left {
    float: left;
    position: relative;
    width: 45%;
}

@media(max-width:580px) {
    .contact .left {
        float: none;
        width: 80%;
        margin: 0px auto;
    }
}

.contact .right {
    float: right;
    position: relative;
    width: 50%;
}

@media (max-width:580px) {
    .contact .right {
        float: none;
        width: 80%;
        margin: 0px auto;
    }
}

.contact .left,
.contact .right {
    z-index: 2;
}

.contact form {
    padding-top: 50px;
}

.contact form input:not([type="submit"]),
.contact form textarea {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgba(255, 252, 252, 0.6);
    border: 1px solid #CCC;
}

.contact form input[type="submit"] {
    width: 100%;
    border: 0px;
    background-color: var(--main-color);
    color: white;
    height: 40px;
    padding: 0px;
}

.contact form textarea {
    height: 140px;
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    outline: 1px solid var(--main-color);
}

.contact form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
    transition: 0.5s;
    opacity: 0;
}


/* start contact us  */


/*start media queries */



@media (min-width:576px) {

    /*small devices, landscape phones*/
    .container {
        max-width: 530px;
    }
}

@media(min-width:768px) {

    /*medium devices => tablets */
    .container {
        max-width: 740px;
    }
}

@media(min-width:992px) {

    /*Desktops*/
    .container {
        max-width: 940px;
    }
}

@media(min-width:1200px) {

    /*large screens*/
    .container {
        max-width: 1150px;
    }

}

@media(min-width:1400px) {

    /*large screens*/
    .container {
        max-width: 1300px;
    }

}

/*end media queries */